/*csslint
    bulletproof-font-face: false
*/

@font-face {
    font-family: Junction;
    font-style: normal;
    font-weight: normal;
    src: url(../../media/fonts/junction.woff) format('woff');
}

@font-face {
    font-family: Social;
    font-style: normal;
    font-weight: normal;
    src: url(../../media/fonts/social.woff) format('woff');
}
