@layer app.tokens {
  :root {
    --app-animation-durationFast: 100ms;
    --app-animation-durationSlow: 1s;
  }

  .app--loading {
    & *,
    & ::before,
    & ::after {
      --app-animation-durationFast: 0s;
      --app-animation-durationSlow: 0s;
    }
  }
}
