@layer sm.tokens {
	:root {
		--sm-color-gray: oklch(60% 0 0);
		--sm-color-brown: oklch(60% 0.1 66);
		--sm-color-green: oklch(60% 0.125 136);
		--sm-color-blue: oklch(60% 0.15 246);

		--sm-color-50: 100% calc(c * 0.2) h;
		--sm-color-100: 90% calc(c * 0.4) h;
		--sm-color-200: 80% calc(c * 0.7) h;
		--sm-color-300: 70% calc(c * 0.9) h;
		--sm-color-400: 60% calc(c * 1) h;
		--sm-color-500: 50% calc(c * 0.9) h;
		--sm-color-600: 40% calc(c * 0.7) h;
		--sm-color-700: 30% calc(c * 0.4) h;
		--sm-color-800: 20% calc(c * 0.2) h;

		--sm-color-lighter: calc(l + 0.1) c h;
		--sm-color-light: calc(l + 0.05) c h;
		--sm-color-dark: calc(l - 0.05) c h;
		--sm-color-darker: calc(l - 0.1) c h;

		--sm-color-background: light-dark(
			oklch(from var(--sm-color-gray) var(--sm-color-100)),
			oklch(from var(--sm-color-gray) var(--sm-color-700))
		);

		--sm-color-foreground: light-dark(
			oklch(from var(--sm-color-gray) var(--sm-color-700)),
			oklch(from var(--sm-color-gray) var(--sm-color-100))
		);

		color-scheme: light dark;
	}
}

@layer sm.utils {
	.sm--colorSchemeDark {
		color-scheme: dark;
	}

	.sm--colorSchemeLight {
		color-scheme: light;
	}
}
