@layer sm.tokens {
	@font-face {
		font-display: fallback;
		font-family: 'aleo';
		src: url('../../fonts/aleo.ttf');
	}

	@font-face {
		font-display: fallback;
		font-family: 'aleo';
		font-style: italic;
		src: url('../../fonts/aleo-italic.ttf');
	}

	@font-face {
		font-display: fallback;
		font-family: 'marker';
		src: url('../../fonts/marker.ttf');
	}

	:root {
		--sm-font-body: 'aleo', ui-sans-serif, system-ui, sans-serif;
		--sm-font-display: 'marker', ui-sans-serif, system-ui, sans-serif;
	}
}
