.aspect {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.aspect-block {
	display: block;
}

.aspect-block::after {
	content: ' ';
	display: block;
	padding-top: 100%;
	width: 100%;
}

.aspect-block-9x16::after {
	padding-top: 177.78%;
}

.aspect-block-3x4::after {
	padding-top: 133.33%;
}

.aspect-block-4x3::after {
	padding-top: 75%;
}

.aspect-block-16x9::after {
	padding-top: 56.25%;
}

.aspect-block-3x1::after {
	padding-top: 33.33%;
}

.aspect-inline {
	display: inline-block;
	vertical-align: -0.125em;
}

.aspect-inline::after {
	content: ' ';
	display: block;
	height: 1em;
	width: 1em;
}

.aspect-inline-4x3::after {
	width: 1.333em;
}

.aspect-inline-16x9::after {
	width: 1.778em;
}

.aspect-inline-3x1::after {
	width: 3em;
}

.aspect-lb {
	background-size: contain;
}

.aspect_bd {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
