.skill {
	display: flex;
	align-items: center;
}

.skill > * {
	flex: 1 1 auto;
	height: 1rem;
}

.skill_xp-0 {
	background-color: color(var(--moe-color-primary) a(0));
}

.skill_xp-1 {
	background-color: color(var(--moe-color-primary) a(0.1));
}

.skill_xp-2 {
	background-color: color(var(--moe-color-primary) a(0.2));
}

.skill_xp-3 {
	background-color: color(var(--moe-color-primary) a(0.3));
}

.skill_xp-4 {
	background-color: color(var(--moe-color-primary) a(0.4));
}

.skill_xp-5 {
	background-color: color(var(--moe-color-primary) a(0.5));
}

.skill_xp-6 {
	background-color: color(var(--moe-color-primary) a(0.6));
}

.skill_xp-7 {
	background-color: color(var(--moe-color-primary) a(0.7));
}

.skill_xp-8 {
	background-color: color(var(--moe-color-primary) a(0.8));
}

.skill_xp-9 {
	background-color: color(var(--moe-color-primary) a(0.9));
}

.skill_xp-10 {
	background-color: color(var(--moe-color-primary) a(1));
}

.skill_use-0 {
	transform: scale(0);
}

.skill_use-1 {
	transform: scale(0.1);
}

.skill_use-2 {
	transform: scale(0.2);
}

.skill_use-3 {
	transform: scale(0.3);
}

.skill_use-4 {
	transform: scale(0.4);
}

.skill_use-5 {
	transform: scale(0.5);
}

.skill_use-6 {
	transform: scale(0.6);
}

.skill_use-7 {
	transform: scale(0.7);
}

.skill_use-8 {
	transform: scale(0.8);
}

.skill_use-9 {
	transform: scale(0.9);
}

.skill_use-10 {
	transform: scale(1);
}

.skill_type {
	position: relative;
	top: -0.25em;
	padding: 0 1rem;
	flex-basis: 41.2222vw;
	min-width: 41.2222vw;
	font-size: 0.8em;
}

@media (--large) {
	.skill_type {
		top: -0.15em;
		flex-basis: 18vw;
		min-width: 18vw;
	}
}

@media (--xlarge) {
	.skill_type {
		top: 0;
	}
}
