.stage {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	overflow: hidden;
	perspective: 1200px;
	perspective-origin: 75% 25%;
}

.stage * {
	transform-style: preserve-3d;
}
