.tier {
	padding:
		11.1111vh
		11.1111vw
		22.2222vh;
	min-height: 99.9999vh;
}

@media (orientation: portrait) {
	.tier {
		min-height: 66.6666vh;
	}
}

@media (min-width: 760px) {
	.tier {
		padding:
			11.1111vh
			44.4444vw
			22.2222vh
			11.1111vw;
	}
}

/** /
@media (min-width: 1460px) {
	.tier {
		padding:
			11.1111vh
			55.5555vw
			22.2222vh
			11.1111vw;
	}
}
/**/
