/*csslint
    compatible-vendor-prefixes: false
*/

.fridge {
    background: url(../../media/images/fridge.svg) no-repeat center bottom;
    background-size: contain;
    display: block;
    top: 50%;
    left: 10%;
    right: 10%;
    bottom: 5%;
    position: absolute;
}

@media (orientation: landscape) {
    .fridge {
        left: 60%;
        top: 5%;

        -webkit-transform: rotateZ(1deg);
        -ms-transform: rotateZ(1deg);
        transform: rotateZ(1deg);
    }
}
