/*csslint
    box-model: false
*/

.site {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.site-bd {
    padding: 2rem 2rem 24rem;
    position: relative;
    z-index: 1;
}

@media (orientation: landscape) {
    .site-bd {
        padding: 2.5rem;
        width: 60%;
    }
}
