html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #666;
  color: #eee;
  font: lighter 16px/1.2 Aleo,sans-serif;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: Aleo;
  font-style: normal;
  font-weight: 400;
  src: url(../font/aleo-regular-webfont.eot);
  src: url(../font/aleo-regular-webfont.eot?#iefix) format('embedded-opentype'),url(../font/aleo-regular-webfont.woff) format('woff'),url(../font/aleo-regular-webfont.ttf) format('truetype'),url(../font/aleo-regular-webfont.svg#aleoregular) format('svg');
}

@font-face {
  font-family: Aleo;
  font-style: normal;
  font-weight: 700;
  src: url(../font/aleo-bold-webfont.eot);
  src: url(../font/aleo-bold-webfont.eot?#iefix) format('embedded-opentype'),url(../font/aleo-bold-webfont.woff) format('woff'),url(../font/aleo-bold-webfont.ttf) format('truetype'),url(../font/aleo-bold-webfont.svg#aleobold) format('svg');
}

@font-face {
  font-family: Aleo;
  font-style: italic;
  font-weight: 400;
  src: url(../font/aleo-italic-webfont.eot);
  src: url(../font/aleo-italic-webfont.eot?#iefix) format('embedded-opentype'),url(../font/aleo-italic-webfont.woff) format('woff'),url(../font/aleo-italic-webfont.ttf) format('truetype'),url(../font/aleo-italic-webfont.svg#aleoitalic) format('svg');
}

@font-face {
  font-family: Aleo;
  font-style: italic;
  font-weight: 700;
  src: url(../font/aleo-bolditalic-webfont.eot);
  src: url(../font/aleo-bolditalic-webfont.eot?#iefix) format('embedded-opentype'),url(../font/aleo-bolditalic-webfont.woff) format('woff'),url(../font/aleo-bolditalic-webfont.ttf) format('truetype'),url(../font/aleo-bolditalic-webfont.svg#aleobolditalic) format('svg');
}

@font-face {
  font-family: Aleo;
  font-style: normal;
  font-weight: lighter;
  src: url(../font/aleo-light-webfont.eot);
  src: url(../font/aleo-light-webfont.eot?#iefix) format('embedded-opentype'),url(../font/aleo-light-webfont.woff) format('woff'),url(../font/aleo-light-webfont.ttf) format('truetype'),url(../font/aleo-light-webfont.svg#aleolight) format('svg');
}

.clearfix {
  overflow: hidden;
}

.hdg {
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

.hdg_1 {
  font-size: 36px;
}

.hdg_2 {
  font-size: 24px;
}

.media {
  overflow: hidden;
}

.media-img {
  float: left;
  margin-right: 10px;
}

.media-imgAlt {
  float: right;
  margin-left: 10px;
}

.media-bd {
  overflow: hidden;
}