*,
*::before,
*::after {
	box-sizing: border-box;
	padding: unset;
	margin: unset;

	background: unset;
	border: unset;
	caret-color: currentcolor;
	color: inherit;
	font: inherit;
	list-style: unset;
	outline: unset;
	outline-offset: unset;
	text-decoration: inherit;
	vertical-align: baseline;

	backface-visibility: hidden;
	transform-style: preserve-3d;
}

:where(:focus-visible) {
	outline: 2px solid;
	outline-offset: 2px;
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	perspective: 250vh;
	perspective-origin: 50% 15%;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.sm-scene {
	position: relative;
	display: grid;
	place-content: center;
	height: 100vh;
}

.sm--object {
	--color: oklch(50% 0 0);
	--depth: 0px;
	--z: 0px;

	& :where(p, q, b, i, s, u) {
		display: block;
		border-radius: 0.5px;

		&::before {
			content: '';
			position: absolute;
			inset: 0.5px;
			background: inherit;
			transform: translatez(-1px);
		}
	}

	& :where(p) {
		position: relative;
		transform: translatez(calc(var(--depth) + var(--z)));

		background: radial-gradient(
			at right top,
			oklch(from var(--color) calc(l * 1.2) c h),
			oklch(from var(--color) calc(l * 0.9) c h)
		);
	}

	& :where(q) {
		position: absolute;
		inset: 0;
		transform: translatez(calc(var(--depth) * -1)) rotatey(0.5turn);

		background: radial-gradient(
			at left top,
			oklch(from var(--color) calc(l * 0.9) c h),
			oklch(from var(--color) calc(l * 0.7) c h)
		);

		&::after {
			content: '';
		}
	}

	& :where(b) {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: round(down, var(--depth), 1px);
		transform: translatex(-100%) rotatey(-0.25turn);
		transform-origin: right top;

		background: radial-gradient(
			at right top,
			oklch(from var(--color) calc(l * 1.1) c h),
			oklch(from var(--color) calc(l * 0.8) c h)
		);
	}

	& :where(i) {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: round(down, var(--depth), 1px);
		transform: translatex(100%) rotatey(0.25turn);
		transform-origin: left top;

		background: radial-gradient(
			at left top,
			oklch(from var(--color) calc(l * 1.1) c h),
			oklch(from var(--color) calc(l * 0.8) c h)
		);
	}

	& :where(s) {
		position: absolute;
		top: 0;
		left: 0;
		height: round(down, var(--depth), 1px);
		width: 100%;
		transform: translatey(-100%) rotatex(0.25turn);
		transform-origin: left bottom;

		background: radial-gradient(
			at right bottom,
			oklch(from var(--color) calc(l * 1.3) c h),
			oklch(from var(--color) calc(l * 1.2) c h)
		);
	}

	& :where(u) {
		position: absolute;
		bottom: 0;
		left: 0;
		height: round(down, var(--depth), 1px);
		width: 100%;
		transform: translatey(100%) rotatex(-0.25turn);
		transform-origin: left top;

		background: radial-gradient(
			at right bottom,
			oklch(from var(--color) calc(l * 0.7) c h),
			oklch(from var(--color) calc(l * 0.6) c h)
		);
	}
}

.sm-box {
	--color: oklch(64% 0.16 128);
	--size: 25vmin;
	--depth: var(--size);

	display: grid;
	aspect-ratio: 2 / 3;
	width: var(--size);
	transform: rotatey(-0.05turn);
	transform-origin: center center calc(var(--depth) * 0.5);
}

.sm-chair {
	--color: oklch(64% 0.16 128);
	--size: 25vmin;

	display: grid;
	grid-template: 4fr 4fr 4fr 1fr / 1fr 4fr 1fr;
	aspect-ratio: 5 / 4;
	width: var(--size);
	transform: rotatey(-0.05turn);
	transform-origin: center center calc(var(--size) / 2);
}

.sm-chair-arm {
	--depth: var(--size);

	grid-row: 2 / span 2;

	&.--left {
		grid-column: 1 / span 1;
	}

	&.--right {
		grid-column: 3 / span 1;
	}
}

.sm-chair-back {
	--depth: calc(var(--size) / 4);

	grid-row: 1 / span 2;
	grid-column: 2 / span 1;
}

.sm-chair-seat {
	--depth: var(--size);

	grid-row: 3 / span 1;
	grid-column: 2 / span 1;
}

.sm-chair-foot {
	--color: oklch(33% 0.033 66);
	--inset: calc(var(--size) / 32);
	--depth: calc(var(--size) / 6 - var(--inset) * 2);
	--z: var(--inset);

	grid-row: 4 / span 1;
	margin: 0 var(--inset);

	&.--left {
		grid-column: 1 / span 1;
	}

	&.--right {
		grid-column: 3 / span 1;
	}

	&.--front {
		--z: calc(var(--size) - var(--depth) - var(--inset));
	}
}

.sm-chair-shadow {
	--depth: var(--size);

	position: absolute;
	left: 0;
	bottom: 0;
	height: var(--size);
	width: 100%;
	background: oklch(0 0 0 / 0.1);
	transform: translatez(var(--depth)) rotatex(0.25turn);
	transform-origin: left bottom;
}

.sm-fridge {
	--color: oklch(64% 0.16 128);
	--size: 25vmin;

	display: grid;
	grid-template: 3fr 9fr 1fr 9fr 1fr 9fr 9fr 2fr / 1fr 1fr 8fr 1fr 1fr;
	aspect-ratio: 2 / 3;
	width: var(--size);
	transform: rotatey(-0.05turn);
	transform-origin: center center calc(var(--size) / 2);
}

.sm-fridge-base {
	--depth: var(--size);

	grid-row: 7;
	grid-column: 1 / -1;
}

.sm-fridge-case {
	--depth: calc(var(--size) / 2);

	grid-row: 1 / -3;
	grid-column: 1 / -1;
}

.sm-fridge-door {
	--depth: calc(var(--size) / 2);
	--z: calc(var(--size) / 2);

	grid-row: 1 / -3;
	grid-column: 1 / -1;
}

.sm-fridge-foot {
	--depth: calc(var(--size) / 6);

	grid-row: 8 / span 2;

	&.--left {
		grid-column: 1 / span 2;
	}

	&.--right {
		grid-column: 4 / span 2;
	}

	&.--front {
		--z: calc(var(--size) - var(--depth));
	}
}

.sm-fridge-shadow {
	--depth: var(--size);

	position: absolute;
	left: 0;
	bottom: 0;
	height: var(--size);
	width: 100%;
	background: oklch(0 0 0 / 0.1);
	transform: translatez(var(--depth)) rotatex(0.25turn);
	transform-origin: left bottom;
}
