.around {
	position: relative;
	z-index: 1;
	margin-top: 0.6em;
	width: 22.2222vw;
	list-style: none;
}

.around > * {
	display: inline-block;
	margin: 0 0.5em 0 0;
	font-size: 1.6em;
}

@media (--large) {
	.around {
		width: auto;
	}
}
