.divider {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	transform:
		translateX(33.3333vw)
		translateY(22.2222vh);
}

.divider * {
	position: absolute;
	backface-visibility: hidden;
}

.divider_wall {
	height: 50vh;
	width: 200vw;
	background-color: var(--moe-color-background);
}

.divider_wall-left {
	left: 50%;
	bottom: 100%;
	transform-origin: left bottom 0;
	transform:
		translateZ(-5.5555rem)
		rotateY(-70deg);
}

.divider_wall-back {
	right: 50%;
	bottom: 100%;
	transform-origin: right bottom 0;
	transform:
		translateX(1px)
		translateZ(-5.5555rem)
		rotateY(20deg);
}
