.fridge {
	display: block;
	transform:
		/* align with back wall */
		translateZ(-25rem)
		rotateY(20deg)
		/* place fridge */
		translateX(-6rem)
		translateZ(10rem)
		rotateY(-44.9deg)
		scale3d(0.9, 0.9, 0.9);
}

@media (--large) {
	.fridge {
		transform:
			/* align with back wall */
			translateZ(-25rem)
			rotateY(20deg)
			/* place fridge */
			translateX(-3rem)
			translateZ(10rem)
			rotateY(-45deg);
	}
}

.fridge * {
	position: absolute;
	backface-visibility: hidden;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.fridge_top {
	left: 50%;
	top: 0;
	height: 9rem;
	width: 11rem;
	background-image: url('../../assets/media/fridge-top.svg');
	backface-visibility: visible;
	border-radius: 1.25rem;
	transform-origin: left top 0;
	transform:
		translateX(-5.5rem)
		translateY(-17rem)
		rotateX(90deg);
}

.fridge_front {
	left: 50%;
	bottom: 0;
	height: 17rem;
	width: 11rem;
	background-image: url('../../assets/media/fridge-front.svg');
	border-radius: 1rem 1rem 0.25rem 0.25rem;
	transform-origin: left bottom 0;
	transform:
		translateX(-5.5rem)
		translateZ(9rem);
}

.fridge_front-inside {
	background-image:
		linear-gradient(
			to bottom,
			color(var(--moe-color-primary) l(+1%) a(1)) 10rem,
			color(var(--moe-color-primary) l(+1%) a(0)) 10rem
		),
		url('../../assets/media/fridge-back.svg');
	transform:
		translateX(-5.5rem)
		translateZ(6.2rem)
		scale3d(0.99, 0.99, 0.99);
}

.fridge_left {
	right: 50%;
	bottom: 0;
	height: 17rem;
	width: 9rem;
	background-image: url('../../assets/media/fridge-left.svg');
	border-radius: 1rem 1rem 0.25rem 0.25rem;
	transform-origin: right bottom 0;
	transform:
		translateX(5.49rem)
		rotateY(90deg);
}

.fridge_right {
	right: 50%;
	bottom: 0;
	height: 17rem;
	width: 9rem;
	background-image: url('../../assets/media/fridge-right.svg');
	border-radius: 1rem 1rem 0.25rem 0.25rem;
	transform-origin: right bottom 0;
	transform:
		translateX(-5.5rem)
		rotateY(90deg);
}

.fridge_right-inside {
	transform:
		translateX(-2.8rem)
		rotateY(90deg)
		scale3d(0.99, 0.99, 0.99);
}

.fridge_back {
	left: 50%;
	bottom: 0;
	height: 17rem;
	width: 11rem;
	background-image: url('../../assets/media/fridge-back.svg');
	border-radius: 0.75rem 0.75rem 0.25rem 0.25rem;
	transform-origin: left bottom 0;
	transform: translateX(-5.5rem);
}

.fridge_back-inside {
	transform:
		translateX(-5.5rem)
		translateZ(2.8rem)
		scale3d(0.99, 0.99, 0.99);
}

.fridge_bottom {
	left: 50%;
	top: 0;
	height: 9rem;
	width: 11rem;
	background-image: url('../../assets/media/fridge-bottom.svg');
	border-radius: 0.125rem;
	transform-origin: left top 0;
	transform:
		translateX(-5.5rem)
		rotateX(90deg);
}

.fridge_handle {
	left: 50%;
	bottom: 0;
	height: 3rem;
	width: 0.5rem;
	transform-origin: left bottom 0;
}

.fridge_handle-front {
	background-color: var(--moe-color-background);
	background-image:
		linear-gradient(
			to right bottom,
			var(--moe-color-background),
			color(var(--moe-color-background) l(-20%))
		);
	background-size: 100% 100%;
	transform:
		translateX(3rem)
		translateY(-7rem)
		translateZ(9.125rem);
}

.fridge_handle-back {
	background-color: color(var(--moe-color-background) l(-5%));
	box-shadow: -0.1rem 0.25rem 0 color(var(--moe-color-foreground) a(0.3));
	transform:
		translateX(3rem)
		translateY(-7rem)
		translateZ(9rem);
}
