.room {
	z-index: 1;
	transform:
		translateX(1rem);
}

@media (orientation: landscape), (min-width: 760px) {
	.room {
		transform:
			translateX(4rem);
	}
}

.room * {
	position: absolute;
	backface-visibility: hidden;
}

.room_wall {
	height: 300vh;
	width: 200vw;
	background-color: var(--moe-color-foreground);
	background-size:
		100%,
		100%,
		8rem;
}

.room_wall-left {
	left: 50%;
	bottom: 0;
	background-image:
		radial-gradient(
			hsla(0, 0%, 0%, 0),
			hsla(0, 0%, 0%, 0.4)
		),
		linear-gradient(
			to top,
			var(--moe-color-baseboard) 1rem,
			hsla(0, 0%, 0%, 0) 1rem
		),
		url('../../assets/media/wallpaper.svg');
	background-position:
		center bottom,
		center bottom,
		left bottom;
	transform-origin: left bottom 0;
	transform:
		translateZ(-22rem)
		rotateY(-70deg);
}

.room_wall-back {
	right: 50%;
	bottom: 0;
	background-image:
		radial-gradient(
			color(var(--moe-color-black) a(0)),
			color(var(--moe-color-black) a(0.3))
		),
		linear-gradient(
			to top,
			var(--moe-color-baseboard) 1rem,
			color(var(--moe-color-baseboard) a(0)) 1rem
		),
		url('../../assets/media/wallpaper.svg');
	background-position:
		center bottom,
		center bottom,
		right bottom;
	transform-origin: right bottom 0;
	transform:
		translateZ(-22rem)
		rotateY(20deg);
}

.room_floor {
	left: 50%;
	bottom: 0;
	height: 22rem;
	width: 100vw;
	transform-origin: center bottom 0;
	transform:
		translateX(-50%)
		rotateX(90deg);
}

.room_floor_pattern {
	right: 50%;
	top: 0;
	height: 150%;
	width: 300%;
	background-color: var(--moe-color-floor);
	background-image:
		radial-gradient(
			color(var(--moe-color-floor) a(0)) 50%,
			color(var(--moe-color-floor) s(-20%) l(-20%) a(0.3))
		),
		url('../../assets/media/flooring.jpg');
	background-position:
		center center,
		right top;
	background-size:
		100%,
		46rem;
	transform-origin: right top 0;
	transform:
		translateZ(-1px)
		rotateZ(-20deg);
}
