.site {
	position: relative;
	min-height: 100vh;
	width: 100vw;
}

.site > * {
	position: relative;
	padding:
		11.1111vh
		11.1111vw
		22.2222vh;
}

/* Header */
.site_hd {
	min-height: 162vw;
	text-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.2);
}

@media (--large) {
	.site_hd {
		min-height: 48vh;
		padding-right: 44.4444vw;
	}
}

/* Main */
.site_bd {
	position: relative;
	color: var(--moe-color-foreground);
}

.site_bd::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background-color: var(--moe-color-background);
	background-clip: padding-box;
	border-bottom: 0.3rem solid var(--moe-color-baseboard);
	border-top: 0.3rem solid var(--moe-color-floor);
	transform: skewY(3deg);
	transform-origin: right top;
}

.site_bd > * {
	position: relative;
	z-index: 1;
}

@media (--large) {
	.site_bd {
		padding-bottom: 33.3333vh;
		padding-left: 22.2222vw;
	}
}

@media (--xlarge) {
	.site_bd {
		padding-right: 22.2222vw;
	}
}

/* Footer */
@media (--large) {
	.site_ft {
		padding-left: 22.2222vw;
	}
}

@media (--xlarge) {
	.site_ft {
		padding-right: 22.2222vw;
	}
}

