.site {
	position: relative;
	min-height: 100vh;
	width: 100vw;
}

.site > * {
	position: relative;
	padding:
		11.1111vh
		11.1111vw
		22.2222vh;
}

.site_hd {
	min-height: 162vw;
}

@media (orientation: landscape), (min-width: 760px) {
	.site_hd {
		min-height: 48vh;
		padding:
			11.1111vh
			44.4444vw
			22.2222vh
			11.1111vw;
	}
}

.site_bd {
	background-color: var(--moe-color-background);
	border-top: 1rem solid var(--moe-color-floor);
	color: var(--moe-color-foreground);
}
