@layer sm.components {
	.sm-app {
		height: 100%;
		overflow: hidden auto;
		perspective: calc(1000px + 100vmax);
		perspective-origin: 30vw 30vw;

		background: var(--sm-color-background);
		border-top: 0.5vmax solid;
		border-image: var(--sm-gradient-stripes) 1;
		color: var(--sm-color-foreground);
		font: 300 1rem / 1.3 var(--sm-font-body);

		@media (min-width: 720px) or (orientation: landscape) {
			perspective-origin: 30vw 5vw;
		}
	}
}
