@layer app.components {
  .app-box.-app-chair {
    --app-box-color: oklch(from var(--app-color-green) var(--app-color-400));
    --app-box-depth: 75cqw;

    grid-column: 3 / span 3;
    container-type: size;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 4fr 1fr;
    aspect-ratio: 1;
    transform: translateZ(12cqw) rotateY(0.05turn);
    transform-origin: left bottom;

    @media (min-width: 45rem) {
      grid-column: 3 / span 2;
    }
  }

  .app-box.-app-chair-armLeft {
    grid-column: 1;
    grid-row: 2 / span 3;
  }

  .app-box.-app-chair-back {
    --app-box-depth: 20cqw;

    grid-column: 2;
    grid-row: 1 / span 4;

    transform: rotateX(0.02turn);
    transform-origin: center bottom;
  }

  .app-box.-app-chair-seat {
    grid-column: 2;
    grid-row: 3;

    margin: 1cqw;
  }

  .app-box.-app-chair-armRight {
    grid-column: 3;
    grid-row: 2 / span 3;
  }

  .app-box.-app-chair-base {
    grid-column: 1 / span 4;
    grid-row: 4;

    & > .-bottom {
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr;
      gap: 50cqw;
    }
  }

  .app-box.-app-chair-foot {
    --app-box-color: oklch(from var(--app-color-brown) var(--app-color-600));
    --app-box-depth: 6cqh;

    transform: translateZ(-1px);
    margin: 2cqw;
  }

  .app-box.-app-chair-floor {
    --app-box-depth: 1px;

    position: absolute;
    inset: 0;
    transform: translateZ(6cqh);
  }

  .app-box-face.-app-chair-rug {
    inset: -40cqw;

    background-color: oklch(from var(--app-color-blue) var(--app-color-600));
    border: 10cqw solid oklch(from var(--app-color-blue) var(--app-color-500));
    border-radius: 50%;
  }
}
