@layer app.components {
	.app-intro {
		display: grid;
		grid:
			'. .     .' minmax(2cqw, 1fr)
			'. body  .' min-content
			'. .     .' minmax(2cqw, 1fr)
			'. aside .' 5fr
			'. .     .' minmax(2cqw, 3fr)
			/ 1fr 8fr 1fr;
		min-height: 166cqw;

		@media (min-width: 720px) or (orientation: landscape) {
			grid:
				'. .    .     .' minmax(4cqw, 1fr)
				'. .    aside .' minmax(4cqw, 1fr)
				'. body aside .' min-content
				'. .    aside .' minmax(4cqw, 1fr)
				'. .    .     .' minmax(4cqw, 2fr)
				/ 1fr 3fr 5fr 1fr;
			min-height: min(66cqw, 100cqh);
		}
	}

	.app-intro-body {
		grid-area: body;
		container-type: inline-size;
		transform: rotatey(0.03turn);
	}

	.app-intro-greeting {
		font-size: 8cqw;
	}

	.app-intro-name {
		display: inline-block;
		transform: translatex(-8cqw) translatey(2cqw) translatez(40cqw);

		@media (min-width: 720px) or (orientation: landscape) {
			transform: translatex(-5cqw) translatey(-2.5cqw) translatez(40cqw);
		}

		& > strong {
			color: oklch(from var(--app-color-green) var(--app-color-300));
			font: 400 14cqw / 1 var(--app-font-display);
		}
	}

	.app-intro-profiles {
		display: flex;
		gap: 8cqw;
		margin-block-start: 8cqw;
		transform: translatex(-5cqw) translatey(-4cqw) translatez(40cqw);

		@media (min-width: 720px) or (orientation: landscape) {
			transform: translatex(-3cqw) translatey(-6cqw) translatez(40cqw);
		}
	}

	.app-intro-profiles-icon {
		display: block;
		aspect-ratio: 1;
		width: 10cqw;
	}

	.app-intro-aside {
		grid-area: aside;
		container-type: size;
		display: grid;
		place-content: end center;
		-webkit-user-select: none;
		user-select: none;

		@media (min-width: 720px) or (orientation: landscape) {
			place-content: center end;
		}
	}

	.app-box.-app-intro-room {
		--app-box-depth: 100cqh;

		container-type: size;
		display: grid;
		grid: 1fr 6fr 3cqh / 1fr 2fr 1fr;
		aspect-ratio: 1;
		width: 100cqh;
		transform: rotatey(-0.125turn);
		transform-origin: center center 50cqh;

		@media (min-width: 720px) or (orientation: landscape) {
			transform-origin: right center;
		}
	}

	.app-box.-app-intro-room-wall {
		--app-box-color: oklch(from var(--app-color-gray) var(--app-color-800));
		--app-box-depth: 3cqw;

		grid-column: 1 / span 3;
		grid-row: 1 / span 2;

		& > .-front {
			background-image: radial-gradient(
					ellipse at 100% 0%,
					oklch(from var(--app-color-gray) var(--app-color-50) / 5%) 0%,
					oklch(from var(--app-color-gray) var(--app-color-700) / 0%) 66%
				),
				linear-gradient(to top, oklch(from var(--app-color-gray) var(--app-color-50)) 0 5%, transparent 0);
		}

		& > .-right {
			background-image: linear-gradient(
				to top,
				oklch(from var(--app-color-gray) var(--app-color-100)) 0 5%,
				transparent 0
			);
		}
	}

	.app-box.-app-intro-room-floor {
		--app-box-color: oklch(from var(--app-color-brown) var(--app-color-400));
		--app-box-depth: 100cqw;

		grid-column: 1 / span 3;
		grid-row: 3 / 3;

		& > .-top {
			background-blend-mode: overlay;
			background:
				url('../../images/flooring.svg') 0 0 / cover,
				var(--app-gradient-planks) -2px -2px / 12.5cqw 12.5cqw,
				oklch(from var(--app-color-brown) var(--app-color-300));

			&::after {
				content: '';
				position: absolute;
				inset: 25.25cqw;
				transform: translatez(0.5px) rotate(-0.05turn);
				background-color: oklch(from var(--app-color-gray) var(--app-color-800) / 25%);
				filter: blur(2px);
				mix-blend-mode: multiply;
			}
		}
	}

	.app-box.-app-intro-room-fridge {
		grid-column: 2;
		grid-row: 2;

		transform: translatez(25cqw) rotatey(0.05turn);
		transform-origin: center bottom 25cqw;
	}
}
