:root {
	/* Colors */
	--moe-color-background: hsla(0, 0%, 90%, 1);
	--moe-color-foreground: hsla(0, 0%, 20%, 1);
	--moe-color-primary: hsla(87, 24%, 52%, 1);
	--moe-color-secondary: hsla(205, 92%, 36%, 1);
	--moe-color-baseboard: hsla(0, 0%, 25%, 1);
	--moe-color-floor: hsla(33, 50%, 55%, 1);
	--moe-color-wall: hsla(0, 0%, 20%, 1);
	--moe-color-black: hsla(0, 0%, 0%, 1);
	--moe-color-white: hsla(0, 0%, 100%, 1);

	/* Fonts */
	--moe-font: 300 1rem/1.6 'Roboto Slab', sans-serif;
}
