@layer app.normalize {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: unset;
    margin: unset;

    background: unset;
    border: unset;
    caret-color: currentcolor;
    color: inherit;
    font: inherit;
    outline: unset;
    outline-offset: unset;
    text-decoration: inherit;
    vertical-align: baseline;
  }

  :where(:focus-visible),
  :where(label:has(:focus-visible)) {
    outline: 0.2em solid;
    outline-offset: 0.2em;
  }

  :where([hidden]) {
    display: none !important;
  }

  :where([id]) {
    scroll-margin-block: 10cqh;
  }

  :where(dl, ol, ul) {
    list-style: none;
  }

  html {
    height: 100%;
    overflow: hidden;
  }

  body {
    height: 100%;
    overflow: hidden;

    background: var(--app-color-background);
    background-image: var(--app-gradient-background);
    background-blend-mode: multiply;
    color: var(--app-color-foreground);
    font: 300 1rem / 1.3 var(--app-font-body);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  a:where(:not([class]):hover) {
    color: var(--app-color-foregroundLink);
  }

  em:where(:not([class])) {
    font-style: italic;
  }

  strong:where(:not([class])) {
    font-weight: 700;
  }

  svg:where(:not([class])) {
    display: inline-block;
    aspect-ratio: 1;
    width: 1lh;
    vertical-align: middle;
  }

  app-color-scheme,
  app-copyright {
    display: contents;
  }
}
